[submodule "core"]
	path = core
	url = https://github.com/kdgm/Connect-SDK-Android-Core.git
	branch = dev
[submodule "modules/google-cast"]
	path = modules/google-cast
	url = https://github.com/kdgm/Connect-SDK-Android-Google-Cast.git
	branch = kdgm
